<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comic.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comic.author %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @comic.comicrating %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @comic.pages %>
</p>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
