<br>
<div class="has-text-centered">
	<strong class="showfont has-text-dark">Your Books</strong>
</div>

<% averagerating = 0 %>
<% totalbooks = 0 %>
<% totalpages = 0 %>

<body>
	<div class="columns">
		<div class="column"></div>
		<div class="column has-text-centered">
			<br>
			<%= form_with url: "books", local: true, method: 'get' do |f| %>
			<%= f.text_field :data, :class => "input", placeholder: "Show Title" %>
			<p><br></p>
			<%= f.submit "Search", :class => "button is-primary" %>
			<% end %>
		</div>
		<div class="column"></div>
	</div>

	<% if @results %>
	<%= puts @results %>
  <%= puts "hello" %>

		<div class="container">
			<table class="table is-striped is-hoverable table center">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th><p class="has-text-centered">Title</p></th>
						<th><p class="has-text-centered">Author</p></th>
						<th><p class="has-text-centered">Published</p></th>
						<th></th>
						<th colspan="3"></th>
					</tr>
				</thead>
					<tbody>
					<% actual_index = 0 %>
					<% @results.each.with_index(1) do |result, index| %>
					<%= puts result %>
						<tr>
							<% if (result.original_publication_month != nil && result.original_publication_day != nil && result.original_publication_year != nil) %>
								<td><p class="has-text-centered"><%= "#{actual_index+= 1}" %></p></td>
								<td><img src=<%=result.best_book.small_image_url%>></td>
								<td><p class="has-text-centered"><strong><%= result.best_book.title %></strong></p></td>
								<td><p class="has-text-centered"><%= result.best_book.author.name %></p></td>
								<td><p class="has-text-centered"><%= result.original_publication_month %>-<%= result.original_publication_day %>-<%= result.original_publication_year %></p></td>
								<td><%= simple_form_for(@book) do |f| %>
								<%= f.error_notification %>
								<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
									<%= f.hidden_field :isbn, :value => result.best_book.id%>
									<%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
									<%= f.button :submit, "Add Book" %>
								<% end %></td>
							<% end %>
							<% if (actual_index >= 10) %>
								<% break %>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>

	<div class="level">
		<div class="level-item">
			<%= link_to 'Back', "home", class: "button is-danger" %>
		</div>
		<div class="level-item">
			<%= link_to 'New Book', new_book_path, class: "button is-success" %>
		</div>
	</div>

	<div class="container">
		<table class="table is-striped is-hoverable is-narrow table center">
			<thead>
				<tr>
					<th></th>
					<th class="has-text-centered">Title</th>
					<th class="has-text-centered">Description</th>
					<th class="has-text-centered">Author</th>
					<th class="has-text-centered">Rating</th>
					<th class="has-text-centered">Pages</th>
					<th>ID</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @books.each.with_index(1) do |book, index| %>
				<tr>
					<% if book.user_id == current_user.id %>
					<td><%= "#{index}" %></td>
					<td><p class="has-text-centered"><strong><%= link_to "#{book.title}", book %></strong></p></td>
					<td><p class="has-text-centered"><%= truncate book.description, length: 90, seperator: /\w+/ %></p></td>
					<td><p class="has-text-centered"><%= book.author %></p></td>
					<td><p class="has-text-centered"><%= book.bookrating %></p></td>
					<% averagerating+= book.bookrating %>
					<td><p class="has-text-centered"><%= book.pages %></p></td>
					<% totalpages+= book.pages %>
					<% totalbooks+= 1 %>
					<td><%= book.user_id %></td>
					<td><%= link_to 'Edit', edit_book_path(book) %></td>
					<td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table is-striped is-hoverable table center">
			<thead>
				<tr>
					<th>Stats:</th>
					<th>Books</th>
					<th>Average Rating</th>
					<th>Total Pages</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>Totals:</td>
					<td><p class="has-text-centered"><%= totalbooks %></p></td>
					<td><p class="has-text-centered"><%= (averagerating / totalbooks).round(2) %></p></td>
					<td><p class="has-text-centered"><%= totalpages %></p></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
