<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong><br>
  <%= @book.title %><br>
	<strong>Author:</strong><br>
	<%= @book.author %><br>
	<strong>Description:</strong><br>
	<%= @book.description %><br>
	<strong>Pages:</strong><br>
	<%= @book.pages %><br>
	<strong>ID:</strong><br>
	<%= @book.user_id %><br>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
