<br>
<div class="has-text-centered">
	<strong class="showfont has-text-dark">Your Shows</strong>
</div>
<div class="level">
	<div class="level-item">
		<%= link_to 'Back', "home", class: "button is-danger" %>
	</div>
	<div class="level-item">
		<%= link_to 'New Show', new_show_path, class: "button is-success" %>
	</div>
</div>
<% totalseasons = 0 %>
<% totalepisodes = 0 %>
<% averagerating = 0 %>
<% totalshows = 0 %>
<% totaltime = 0 %>
<body>
	<div class="container">
		<table class="table is-striped is-hoverable table center">
			<thead>
				<tr>
					<th></th>
					<th><p class="has-text-centered">Title</p></th>
					<th><p class="has-text-centered">Description</p></th>
					<th><p class="has-text-centered">Seasons</p></th>
					<th><p class="has-text-centered">Episodes</p></th>
					<th><p class="has-text-centered">Rating</p></th>
					<th><p class="has-text-centered">Airdate</p></th>
					<th>User</th>
					<th colspan="3"></th>
				</tr>
			</thead>
				<tbody>
				<% @shows.each.with_index(0) do |show, index| %>
					<tr>
						<% if show.user_id == current_user.id %>
						<td><%= "#{index}" %></td>
						<td><p class="has-text-centered"><strong><%= link_to "#{show.title}", show %></strong></p></td>
						<% totalshows+= 1 %>
						<td><p class="has-text-centered"><%= truncate show.description, length: 45, seperator: /\w+/ %></p></td>
						<td><p class="has-text-centered"><%= show.seasons %></p></td>
						<% totalseasons+= show.seasons %>
						<td><p class="has-text-centered"><%= show.episodes %></p></td>
						<% totalepisodes+= show.episodes %>
						<% totaltime+= (totalepisodes * show.episoderuntime) %>
						<td><p class="has-text-centered"><%= show.showrating %></p></td>
						<% averagerating+= show.showrating %>
						<td><p class="has-text-centered"><%= show.airdate %></p></td>
						<td><%= show.user_id %></td>
						<td><%= link_to 'Edit', edit_show_path(show) %></td>
						<td><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table is-striped is-hoverable table center">
			<thead>
				<tr>
					<th>Stats:</th>
					<th>Shows</th>
					<th>Seasons</th>
					<th>Episodes</th>
					<th>Average Rating</th>
					<th>Days Watched</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>Totals:</td>
					<td><p class="has-text-centered"><%= totalshows %></p></td>
					<td><p class="has-text-centered"><%= totalseasons %></p></td>
					<td><p class="has-text-centered"><%= totalepisodes %></p></td>
					<td><p class="has-text-centered"><%= (averagerating / totalshows).round(2) %></p></td>
					<td><p class="has-text-centered"><%= ((totaltime / 60.0) / 24.0).round(2) %> (<%= (totaltime / 60.0).round(2) %> hrs)</p></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
</body>
