<p id="notice"><%= notice %></p>
<!-- Add call to api to grab creators and other info -->
<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @show.description %>
</p>

<p>
  <strong>Seasons:</strong>
  <%= @show.seasons %>
</p>

<p>
  <strong>Episodes:</strong>
  <%= @show.episodes %>
</p>

<p>
  <strong>Episode Runtime:</strong>
  <%= @show.episoderuntime %>
	<body>
		Minutes
	</body>
</p>

<p>
  <strong>Rating:</strong>
  <%= @show.showrating %>
</p>

<p>
  <strong>Airdate:</strong>
  <%= @show.airdate %>
</p>

<p>
  <strong>User:</strong>
  <%= @show.user_id %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
